<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO >
DEBUG > TRACE > ALL -->
<configuration status="error" monitorInterval="60">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern=" | %l | %enc{%m}{CRLF}%n" />
        </console>
        <console name="Console" target="SYSTEM_ERR">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout charset="UTF-8" pattern=" %l | %enc{%m}{CRLF}%n" />
        </console>
        <RollingFile name="RollingFileLog" fileName="${sys:logPath}/java-runtime-all.log"
            filePattern="${sys:logPath}/$${date:yyyy-MM}/java-runtime-all-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="${sys:logLevel}" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout
                charset="UTF-8" pattern="[%d{HH:mm:ss:SSS}{GMT+8}] | [%p] | %l | %t | runtime-java | %enc{%m}{CRLF}%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="400 MB" />
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileLogWarn" fileName="${sys:logPath}/java-runtime-warn.log"
            filePattern="${sys:logPath}/$${date:yyyy-MM}/java-runtime-warn-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout
                charset="UTF-8" pattern="[%d{HH:mm:ss:SSS}{GMT+8}] | [%p] | %l | %t | runtime-java | %enc{%m}{CRLF}%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="400 MB" />
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileLogError" fileName="${sys:logPath}/java-runtime-error.log"
            filePattern="${sys:logPath}/$${date:yyyy-MM}/java-runtime-error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout
                charset="UTF-8" pattern="[%d{HH:mm:ss:SSS}{GMT+8}] | [%p] | %l | %t | runtime-java | %enc{%m}{CRLF}%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="400 MB" />
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileUserLog" fileName="${sys:logPath}/user-log.log"
            filePattern="${sys:logPath}/$${date:yyyy-MM}/user-log-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout charset="UTF-8" pattern="[%d{HH:mm:ss:SSS}{GMT+8}] | [%p] | %l | %t | userLog | %enc{%m}{CRLF}%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="400 MB" />
            </Policies>
        </RollingFile>
        <Async name="AsyncRollingFileLog">
            <AppenderRef ref="RollingFileLog" />
            <AppenderRef ref="RollingFileLogWarn" />
            <AppenderRef ref="RollingFileLogError" />
        </Async>
    </appenders>
    <loggers>
        <root level="${sys:logLevel}">
            <appender-ref ref="AsyncRollingFileLog" />
        </root>
        <logger name="userLogger" level="info" additivity="false">
            <appender-ref ref="RollingFileUserLog" />
        </logger>
    </loggers>
</configuration>