sphinx==7.3.7
breathe
sphinx-book-theme==1.1.3
pydata-sphinx-theme==0.16.1
sphinx-autodoc2
myst-parser
pyyaml
sphinx_rtd_theme
sphinx-autobuild
sphinx-copybutton
sphinx_design
sphinxcontrib-openapi
sphinx_togglebutton